table {
    width: 100%;
}

/* #task-list {
    column-count: 4;
} */

.task-complete {
    background-color: rgb(87, 197, 129);
    text-align: center;
    border-style: solid;
    width: 25%;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    overflow-wrap: break-word; 
}

.task-incomplete {
    background-color: rgb(250, 244, 194);
    text-align: center;
    border-style: solid;
    border-color: rgb(239, 120, 46);
    width: 25%;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    overflow-wrap: break-word;
};

