body {
   background-color: white;
   font-family: Arial, Helvetica, sans-serif;
   font-size: medium;
}

#intro {
    background-color: white;
}

#new-task-submission {
    background-color: rgb(255, 250, 197);
}

#task-input {
    width: 50%;
    height:30px
}

#task-input,
input::placeholder {
    font: 20px/3 sans-serif;
}

#task-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}


/* ----------------------------------------------------------BUTTONS---------------------------------------------------------- */
#submit-task-btn {
    height: 35px;
    font-size: 15px;
    background-color: rgb(222, 244, 205);
    border-radius: 10px;
    border-width: thin;
    margin-left: 10px;
    transition: 0.3s;
}

#submit-task-btn:hover {
    background-color: rgb(148, 255, 72);
    box-shadow: 0px 0px 5px 0px rgb(19, 138, 19);
    border-width: thin;
}

.complete-btn {
    border-radius: 5px;
    background-color: rgb(222, 244, 205);
    border-width: thin;
    transition: .5s;
    padding: 5px;
}

.complete-btn:hover {
    border-radius: 4px;
    background-color: rgb(148, 255, 72);
    border-width: thin;
    padding: 5px;
}

.delete {
    border-radius: 5px;
    background-color: rgb(215, 215, 215);
    border-width: thin;
    transition: .5s;
    padding: 5px;
}

.delete:hover {
    border-radius: 4px;
    background-color: rgb(32, 32, 32);
    color: white;
    border-width: thin;
    padding: 5px;
}

.incomplete-btn {
    border-radius: 5px;
    background-color: rgb(255, 217, 185);
    border-width: thin;
    transition: .5s;
    padding: 5px;
}

.incomplete-btn:hover {
    border-radius: 4px;
    background-color: rgb(255, 116, 3);
    border-width: thin;
    padding: 5px;
}


/* ----------------------------------------------------------TASK COMPLETE DIV---------------------------------------------------------- */
.task-complete {
    background-color: rgb(146, 203, 168);
    text-align: center;
    border-style: solid;
    border-color:rgb(0, 91, 24);
    border-radius: 10px;
    border-width: 2px;
    width: 95%;
    padding-top: 0px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    overflow-wrap: break-word;
    box-shadow: 0px 0px 15px 0px rgb(0, 255, 98);
    position: relative;
}

#pattern {
    height: 90%;
    background-image: repeating-linear-gradient(rgb(146, 203, 168) 0px, rgb(146, 203, 168) 23px, teal 24px);
}


/* ----------------------------------------------------------TASK INCOMPLETE DIV---------------------------------------------------------- */
#pattern-incomplete {
    height: 90%;
    background-image: repeating-linear-gradient(rgb(255, 250, 197) 0px, rgb(255, 250, 197) 23px, teal 24px);
}
.task-incomplete {
    background-color: rgb(255, 250, 197);
    text-align: center;
    border-style: solid;
    border-color: rgb(252, 197, 163);
    border-radius: 10px;
    border-width: 2px;
    width: 95%;
    padding-top: 0px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    overflow-wrap: break-word;
    position: relative;
};

