body {
   background-color: rgb(173, 225, 249);
   font-family: Arial, Helvetica, sans-serif;
   font-size: medium;
}

/* ------------------------------------------------------------------------------------------------------------- */

#new-task-submission {
    background-color: rgb(86, 180, 224);
}

#task-input {
    width: 50%;
    height:30px
}

#task-input,
input::placeholder {
    font: 20px/3 sans-serif;
}

#submit-task-btn {
    height: 2.2rem;
    font-size: 1.2em;
    background-color: rgb(247, 238, 159);
    border-radius: 10px;
}

#task-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.task-complete {
    background-color: rgb(146, 203, 168);
    text-align: center;
    border-style: solid;
    border-color:rgb(0, 91, 24);
    border-radius: 10px;
    border-width: 2px;
    width: 95%;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    overflow-wrap: break-word;
    box-shadow: 0px 0px 15px 0px rgb(0, 255, 98);
    position: relative;
}

/* .task-complete::before {
    content: '';
    width: 2px;
    height: 100%;
    background-color: rgba(255,0,0,0.6);
    position: absolute;
    top: 0;
    left: 20px;
} */

#pattern {
    height: 90%;
    background-image: repeating-linear-gradient(rgb(146, 203, 168) 0px, rgb(146, 203, 168) 25px, teal 26px);
}

#pattern-incomplete {
    height: 90%;
    background-image: repeating-linear-gradient(rgb(250, 244, 194) 0px, rgb(250, 244, 194) 25px, teal 26px);
}
.task-incomplete {
    background-color: rgb(250, 244, 194);
    text-align: center;
    border-style: solid;
    border-color: rgb(239, 120, 46);
    border-radius: 10px;
    border-width: 2px;
    width: 95%;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    overflow-wrap: break-word;
    box-shadow: 0px 0px 15px 0px rgb(255, 230, 0);
    position: relative;
};

